@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

button,
body {
  font-family: cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
}

.container {
  width: 1000px;
  margin: auto;
}

header {
  width: 100%;
  background-color: rgb(34, 65, 65);

  position: fixed;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  display: inline-block;
  height: 75px;
  line-height: 75px;
  padding: 0 15px;
  color: azure;
  transition: 0.3s;
}

header nav ul li a:hover {
  background-color: red;
}
